<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <div class="grid">
				<!-- confirmation dialogue box -->
				<!-- <p-confirmDialog #cd header="Notification">
					<ng-template pTemplate="content">
					</ng-template>
					<ng-template pTemplate="footer">
						<button type="button" class="p-button-success mr-2" pButton icon="pi pi-check" label="OK" (click)="cd.accept()"></button>
					</ng-template>
				</p-confirmDialog> -->

                <div class="col-12">
                    <p-table #dt [value]="filteredBatches" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                        [globalFilterFields]="['id', 'orderNumber', 'invoiceNumber']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
                        [rowHover]="true" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                <div class="col-10">
                                    <div class="grid">
                                        <div class="col-10">
                                            <!-- <button pButton label="NEW GRV" icon="pi pi-plus" class="p-button-success mr-2"
                                                (click)="addItem()"></button> -->
                                            <p-dropdown appendTo="body" class="p-inputtext-sm mr-2" [(ngModel)]="selectedMainFilter" inputId="name"
                                                [options]="mainFilter" placeholder="Option" (onChange)="onMainFilter()">
                                            </p-dropdown>
                                            <p-calendar class="p-inputtext-sm mr-2" appendTo="body" *ngIf="selectedMainFilter === 'Date'" placeholder="Date"
                                                [(ngModel)]="date" dateFormat="d MM yy" (onSelect)="onGetDate()"></p-calendar>
                                            
                                            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="onGetDateRange()"
                                                *ngIf="selectedMainFilter === 'Date Range'" class="p-inputtext-sm mr-2" placeholder="Range"/>
                                        
                                            <p-calendar [(ngModel)]="month" view="month" dateFormat="MM" [readonlyInput]="true" (onSelect)="onGetMonth()" class="p-inputtext-sm mr-2"
                                                *ngIf="selectedMainFilter === 'Month'" placeholder="Month"/>
                                        </div>
                                    </div>
                                </div>
                                <span class="block mt-2 md:mt-0 p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                        class="w-full sm:w-auto" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="name">Batch Number<p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="name">Transaction <p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="name">Authorized <p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="cell">Created By<p-sortIcon field="cell"></p-sortIcon></th>
                                <th pSortableColumn="email">Authorized By<p-sortIcon field="email"></p-sortIcon></th>
                                <th pSortableColumn="email">Created On<p-sortIcon field="email"></p-sortIcon></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-grv>
                            <tr>
                                <td style="width:14%; min-width:10rem;">
                                    <span class="p-column-title">Name</span>
                                    {{grv.id}}
                                </td>
                                <td style="width:14%; min-width:10rem;">
                                    <span class="p-column-title">Name</span>
                                    {{grv.transactionType}}
                                </td>
                                <td style="width:15%; min-width:10rem;">
                                    <i class="pi" [ngClass]="{
                                        'true-icon pi-check-circle text-green-500': grv.isAuthorised, 
                                        'false-icon pi-times-circle text-pink-500': !grv.isAuthorised
                                    }"></i>
                                </td>
                                <td style="width:14%; min-width:10rem;">
                                    <span class="p-column-title">Phone</span>
                                    {{grv.createdBy}}
                                </td>
                                <td style="width:14%; min-width:8rem;">
                                    <span class="p-column-title">Email</span>
                                    {{grv.authorisedBy}}
                                </td>
                                <td style="width:14%; min-width:10rem;">
                                    <span class="p-column-title">Country</span>
                                    {{grv.creationTime | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    <div class="flex">
                                        <div *ngIf="user.role === 'Admin'">
                                            <button pButton pRipple icon="pi pi-pencil" type="button" label="APPROVE" [disabled]="grv.isAuthorised"
                                                class="p-button-success mr-2" (click)="onApprove(grv)"></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <!-- Authorize form -->
                <p-dialog [(visible)]="approveModal" [style]="{ width: '40%' }" header="Stock Movement Items"
                    [modal]="true" class="p-fluid">
                    <ng-template pTemplate="content">
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <!-- <div class="flex flex-column md:flex-row align-items-center p-3 w-full"> -->
                                    <p-table class="header-line-table" #dt [value]="batch.stockMovements!" [columns]="cols" responsiveLayout="scroll"
                                            [globalFilterFields]="['name']" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="80%" 
                                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                            [rowHover]="true" dataKey="id">
                                            <ng-template pTemplate="caption">
                                                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                                    <h5 class="m-0">Change Quantities</h5>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Bar Code </th>
                                                    <th>Name </th>
                                                    <th>Transaction Type </th>
                                                    <th>Qty </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-product>
                                                <tr>
                                                    <td style="width:40%; min-width:10rem;">
                                                        <span class="p-column-title">Name</span>
                                                        {{product.barCode}}
                                                    </td>
                                                    <td style="width:40%; min-width:10rem;">
                                                        <span class="p-column-title">Phone</span>
                                                        {{product.productName}}
                                                    </td>
                                                    <td style="width:40%; min-width:10rem;">
                                                        <span class="p-column-title">Phone</span>
                                                        {{product.transactionType}}
                                                    </td>
                                                    <td [pEditableColumn]="product.quantity" pEditableColumnField="quantity" style="width:20%; min-width:10rem;">
                                                        <p-cellEditor>
                                                            <ng-template pTemplate="input">
                                                                <input pInputText type="text" [(ngModel)]="product.quantity" />
                                                            </ng-template>
                                                            <ng-template pTemplate="output">
                                                                {{ product.quantity }}
                                                            </ng-template>
                                                        </p-cellEditor>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                <!-- </div> -->
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="CANCEL" icon="pi pi-times" class="p-button-text"
                            (click)="hideDialog()"></button>
                        <button pButton pRipple label="APPROVE" icon="pi pi-check" class="p-button-text" 
                            (click)="onApproveBatch()"></button>
                    </ng-template>
                </p-dialog> 
            </div>
        </div>
    </div>
</div>
