<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>

            <div class="grid">
                <div class="col-12">
                    <p-tabView orientation="left">
                        <!-- fresh produce inventory -->
                        <p-tabPanel header="Fresh Produce" class="line-height-3 m-0">
                            <p-fieldset class="col-6" legend="Period Select">
                                <div class="col-9 flex flex-column md:flex-row p-1 w-full gap-5">
                                    <span class="p-float-label">
                                        <p-dropdown appendTo="body" inputId="id" [options]="filterOptions" [(ngModel)]="filter"
                                            placeholder="Filter By" (onChange)="showAll()">
                                        </p-dropdown>
                                        <label for="currency">Filter By</label>
                                    </span>
                                    <span class="p-float-label" *ngIf="filter !== 'ALL'">
                                        <p-dropdown appendTo="body" inputId="id" [options]="freshCategories" [(ngModel)]="subCategory"
                                            placeholder="Filter By" optionLabel="name" (onChange)="filterFreshProducts()">
                                        </p-dropdown>
                                        <label for="currency">Category</label>
                                    </span>
                                    <!-- <span class="p-float-label" *ngIf="filter !== 'ALL'">
                                        <button pButton label="UPDATE INVENTORY" icon="pi pi-plus" class="p-button-success mr-2"
                                                    (click)="updateFreshInventory()"></button>
                                    </span>
                                    <span class="p-float-label" *ngIf="filter !== 'ALL'">
                                        <button pButton label="PRINT STOCK SHEET" icon="pi pi-plus" class="p-button-success mr-2"
                                                    (click)="printStockCountSheet(isFresh)"></button>
                                    </span> -->
                                    
                                </div>
                            </p-fieldset>

                            <!-- fresh produce table -->
                            <div class="col-12">
                                <p-table class="header-line-table" #dt [value]="filteredFreshInventories" [columns]="cols" responsiveLayout="scroll" 
                                    [globalFilterFields]="['name', 'barCode']" [(selection)]="damagedProducts"
                                    [showCurrentPageReport]="true"  [scrollable]="true" scrollHeight="500px" 
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
                                    [rowHover]="true" dataKey="id">
                                    <ng-template pTemplate="caption">
                                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                            <span class="block mt-2 md:mt-0 p-input-icon-right">
                                                
                                                    
                                                    <button pButton label="ASSORT PRODUCT" icon="pi pi-plus" class="p-button-primary mr-2"
                                                                (click)="onAssortProduct()"></button>

                                                    <button pButton label="BREAK CASE" icon="pi pi-check" class="p-button-primary mr-2"
                                                        (click)="onUgrade('FreshProduce')"></button>
                                                    <button pButton label="UPDATE CATEGORY" icon="pi pi-pencil" class="p-button-primary mr-2"
                                                        [disabled]="damagedProducts.length === 0"    (click)="onUpdateCategory('FreshProduce')"></button>
                                            
                                                    <button pButton label="PROCESS DAMAGES" icon="pi pi-times" class="p-button-danger mr-2"
                                                        [disabled]="damagedProducts.length === 0"    (click)="processDamages()"></button>
                                                    

                                            </span>
                                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                                    class="w-full sm:w-auto" />
                                            </span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 3rem">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                            
                                            <th pSortableColumn="pluCode">Bar Code <p-sortIcon field="pluCode"></p-sortIcon></th>
                                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                                            <!-- <th pSortableColumn="grade">Grade <p-sortIcon field="grade"></p-sortIcon></th> -->
                                            <th pSortableColumn="description">Qty On Hand</th>
                                            <th >Unit </th>
                                            <th >Price </th>
                                            <th >Status </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr>
                                            <td>
                                                <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                            </td>
                                            <td style="width:14%; min-width:10rem;">
                                                <span class="p-column-title">pluCode</span>
                                                {{product.barCode}}
                                            </td>
                                            <td style="width:14%; min-width:10rem;">
                                                <span class="p-column-title">name</span>
                                                {{product.name}}
                                            </td>
                                            <!-- <td style="width:14%; min-width:10rem;">
                                                <span class="p-column-title">Phone</span>
                                                {{product.grade}}
                                            </td> -->
                                            <td style="width:14%; min-width:8rem;">
                                                <span class="p-column-title">description</span>
                                                {{product.quantityOnHand}}
                                            </td>
                                            <td style="width:14%; min-width:10rem;">
                                                <span class="p-column-title">Country</span>
                                                {{product.unit}}
                                            </td>
                                            <td style="width:14%; min-width:8rem;">
                                                <ng-container *ngIf="product.productPrice?.price > 0 || product.productPrice !== null; else noPrice">
                                                    {{ product.productPrice?.price | currency: 'USD' }}
                                                </ng-container>
                                                <ng-template #noPrice>
                                                    <p-tag icon="pi pi-exclamation-triangle" severity="warning" value="No price" />
                                                </ng-template>
                                            </td>
                                            <!-- <td style="width:14%; min-width:8rem;" *ngIf="!product.productPrice">
                                                <span class="p-column-title">description</span>
                                                $0.00
                                            </td> -->
                                            <td style="width:14%; min-width:10rem;">
                                                <span [class]="'product-badge status-' + product.status.toLowerCase()">{{product.status}}</span>
                                            </td>
                                            
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>

                        <!-- dry goods inventory -->
                        <p-tabPanel header="Dry Goods" class="line-height-3 m-0">
                            <!-- fresh produce inventory -->
                            <p-fieldset class="col-6" legend="Period Select">
                                <div class="col-9 flex flex-column md:flex-row p-1 w-full gap-5">
                                    <span class="p-float-label">
                                        <p-dropdown appendTo="body" inputId="id" [options]="filterOptions" [(ngModel)]="filter"
                                            placeholder="Filter By" (onChange)="showAll()">
                                        </p-dropdown>
                                        <label for="currency">Filter By</label>
                                    </span>
                                    <span class="p-float-label" *ngIf="filter !== 'ALL'">
                                        <p-dropdown appendTo="body" inputId="id" [options]="dryCategories" [(ngModel)]="subCategory"
                                            placeholder="Filter By" optionLabel="name" (onChange)="filterDryProducts()">
                                        </p-dropdown>
                                        <label for="currency">Category</label>
                                    </span>
                                    <span class="p-float-label" *ngIf="filter !== 'ALL'">
                                        <button pButton label="UPDATE INVENTORY" icon="pi pi-plus" class="p-button-success mr-2"
                                                    (click)="updateDryInventory()" (click)="dry()" ></button>
                                    </span>
                                    <span class="p-float-label" *ngIf="filter !== 'ALL'">
                                        <button pButton label="PRINT STOCK SHEET" icon="pi pi-plus" class="p-button-success mr-2"
                                                    (click)="printStockCountSheet(!isFresh)"></button>
                                    </span>
                                </div>
                            </p-fieldset>
                            <div class="col-12">
                                <p-table class="header-line-table" #dt2 [value]="filteredDryInventories" [columns]="cols" responsiveLayout="scroll" 
                                    [globalFilterFields]="['name', 'barCode']" [(selection)]="damagedProducts"
                                    [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="500px" 
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
                                    [rowHover]="true" dataKey="id">
                                    <ng-template pTemplate="caption">
                                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                            <span class="block mt-2 md:mt-0 p-input-icon-left">

                                                <button pButton label="CREATE HUMPER" icon="pi pi-plus" class="p-button-primary mr-2"
                                                            (click)="onAssortProduct()"></button>

                                                <button pButton label="BREAK CASE" icon="pi pi-check" class="p-button-primary mr-2"
                                                    (click)="onUgrade('DryGoods')"></button>
                                                <button pButton label="UPDATE CATEGORY" icon="pi pi-pencil" class="p-button-primary mr-2"
                                                    [disabled]="damagedProducts.length === 0"    (click)="onUpdateCategory('DryGoods')"></button>
                                                
                                                <button pButton label="PROCESS DAMAGES" icon="pi pi-times" class="p-button-danger mr-2"
                                                [disabled]="damagedProducts.length === 0"    (click)="processDamages()"></button>
                                            </span>
                                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" (input)="onGlobalFilter(dt2, $event)" placeholder="Search..."
                                                    class="w-full sm:w-auto" />
                                            </span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 3rem">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                            
                                            <th pSortableColumn="barCode">Bar Code <p-sortIcon field="barCode"></p-sortIcon></th>
                                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                                            <th pSortableColumn="description">Qty On Hand<p-sortIcon field="description"></p-sortIcon></th>
                                            <th pSortableColumn="country">Unit <p-sortIcon field="country"></p-sortIcon></th>
                                            <th pSortableColumn="country">Price <p-sortIcon field="country"></p-sortIcon></th>
                                            <th pSortableColumn="country">Status <p-sortIcon field="country"></p-sortIcon></th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr>
                                            <td>
                                                <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                            </td>
                                            <td style="width:14%; min-width:10rem;">
                                                <span class="p-column-title">barCode</span>
                                                {{product.barCode}}
                                            </td>
                                            <td style="width:14%; min-width:10rem;">
                                                <span class="p-column-title">name</span>
                                                {{product.name}}
                                            </td>
                                            <td style="width:14%; min-width:8rem;">
                                                <span class="p-column-title">description</span>
                                                {{product.quantityOnHand}}
                                            </td>
                                            <td style="width:14%; min-width:10rem;">
                                                <span class="p-column-title">Country</span>
                                                {{product.unit}}
                                            </td>
                                            <td style="width:14%; min-width:8rem;">
                                                <ng-container *ngIf="product.productPrice?.price > 0 || product.productPrice !== null; else noPrice">
                                                    {{ product.productPrice?.price | currency: 'USD' }}
                                                </ng-container>
                                                <ng-template #noPrice>
                                                    <p-tag icon="pi pi-exclamation-triangle" severity="warning" value="No price" />
                                                </ng-template>
                                            </td>
                                            <!-- <td style="width:14%; min-width:8rem;" *ngIf="!product.productPrice">
                                                <span class="p-column-title">description</span>
                                                $0.00
                                            </td> -->
                                            <td style="width:14%; min-width:10rem;">
                                                <span [class]="'product-badge status-' + product.status.toLowerCase()">{{product.status}}</span>
                                            </td>
                                            <td style="width:14%; min-width:8rem;">
                                                <div class="flex">
                                                    <button pButton pRipple icon="pi pi-pencil" label="EDIT" class="p-button-success mr-2"
                                                        (click)="edit(product)"></button>
                                                    <button pButton pRipple icon="pi pi-trash" label="DELETE" class="p-button-danger"
                                                        (click)="delete(product)"></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>

        <!-- create modal -->
        <p-dialog [(visible)]="createModal" [style]="{ width: '30%' }" header="New product"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <div class="field col-12">
                                <div class="field">
                                    <span class="p-float-label">
                                        <p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="newProduct.product"
                                            inputId="name" [options]="products" placeholder="Select Product" optionLabel="name"
                                            [filter]="true" filterBy="name" [showClear]="true">
            
                                        </p-dropdown>
                                        <label for="company">Product</label>
                                    </span>
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="string" pInputText id="description" [(ngModel)]="newProduct.barCode" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.barCode}" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.barCode">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Bar Code</label>
                                    </span>
                                    
                                </div>
                                <div class="field" *ngIf="isFresh === true">
                                    <span class="p-float-label">
                                        <input type="text" pInputText id="description" [(ngModel)]="newProduct.grade" required autofocus 
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.grade}" [disabled]="true"/>
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.grade">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Grade</label>
                                    </span>
                                    
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="number" pInputText id="description" [(ngModel)]="newProduct.markUp" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.markUp}" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.markUp">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Mark Up</label>
                                    </span>
                                    
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="number" pInputText id="description" [(ngModel)]="newProduct.idealQuantity" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.idealQuantity}" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.idealQuantity">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Ideal Quantity</label>
                                    </span>
                                    
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="newProduct.unit"
                                            inputId="name" [options]="units" placeholder="Unit">
            
                                        </p-dropdown>
                                        <label for="company">Unit</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"
                    [disabled]="!newProduct.product "></button>
            </ng-template>
        </p-dialog> 

        <!-- edit modal -->
        <p-dialog [(visible)]="editModal" [style]="{width: '30%'}" header="New Stock Item"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <div class="field col-12">
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="text" pInputText id="description" [(ngModel)]="newProduct.name" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.name}" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.name">Item
                                            phone is
                                            required.</small>
                                        <label for="company">Product</label>
                                    </span>
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="text" pInputText id="description" [(ngModel)]="newProduct.barCode" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.barCode}" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.barCode">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Bar Code</label>
                                    </span>
                                    
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="text" pInputText id="description" [(ngModel)]="newProduct.grade" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.grade}" [disabled]="true"/>
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.grade">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Grade</label>
                                    </span>
                                    
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="number" pInputText id="description" [(ngModel)]="newProduct.markUp" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.markUp}" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.markUp">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Mark Up</label>
                                    </span>
                                    
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="number" pInputText id="description" [(ngModel)]="newProduct.idealQuantity" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !newProduct.idealQuantity}" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !newProduct.idealQuantity">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Ideal Quantity</label>
                                    </span>
                                    
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="newProduct.unit"
                                            inputId="name" [options]="units" placeholder="{{newProduct.unit}}">
            
                                        </p-dropdown>
                                        <label for="company">Unit</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="update()"
                    [disabled]="!newProduct.name "></button>
            </ng-template>
        </p-dialog> 

        <!-- break case modal -->
        <p-dialog [(visible)]="moveCaseModal" [style]="{width: '30%'}" header="New Stock Item"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <div class="field col-12">
                                <div class="field">
                                    <label for="company">Bulk Product</label>
                                        <p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="selectedProduct"
                                            inputId="name" [options]="filteredProducts" placeholder="Select Sub Category" optionLabel="name"
                                            [filter]="true" filterBy="name"  [showClear]="true">
            
                                        </p-dropdown>
                                        
                                   
                                </div>
                                <div class="field">
                                    <label for="company">Case Size</label>
                                        <input type="text" pInputText id="description" [(ngModel)]="caseSize" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !caseSize}" [disabled]="!selectedProduct" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !caseSize">Item
                                            phone is
                                            required.</small>
                                        
                                   
                                </div>
                                <div class="field">
                                    <label for="company">Quantity</label>
                                        <input type="text" pInputText id="description" [(ngModel)]="quantity" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !quantity}" [disabled]="!caseSize" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !quantity">Item
                                            phone is
                                            required.</small>
                                        
                                    
                                </div>
                                <div class="field">
                                    <label for="company">Unit Product</label>
                                        <p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="upgradeProduct" [disabled]="!quantity"
                                            inputId="name" [options]="filteredProducts" placeholder="Select Sub Category" optionLabel="name"
                                            [filter]="true" filterBy="name"  [showClear]="true">
            
                                        </p-dropdown>
                                        
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSaveUpgrade()"
                    [disabled]="!upgradeProduct "></button>
            </ng-template>
        </p-dialog> 

        <!-- delete modal -->
        <p-dialog [(visible)]="deleteModal" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="newProduct">Are you sure you want to delete <b>{{newProduct.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteModal = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <!-- update inventory -->
        <p-dialog [(visible)]="updadteInventoryModal" [style]="{ width: '40%' }" header="{{subCategory.name}}"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <!-- <div class="flex flex-column md:flex-row align-items-center p-3 w-full"> -->
                            <p-table class="header-line-table" #dt3 [value]="filteredInventories" [columns]="cols" responsiveLayout="scroll"
                                    [globalFilterFields]="['name']" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="80%" 
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [rowHover]="true" dataKey="id">
                                    <ng-template pTemplate="caption">
                                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                            <span class="block mt-2 md:mt-0 p-input-icon-right">
                                                <h5 class="m-0">Change Quantities</h5>
                                            </span>
                                            
                                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" (input)="onGlobalFilter(dt3, $event)" placeholder="Search..."
                                                    class="w-full sm:w-auto" />
                                            </span>
                                        </div>
                                        
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Bar Code </th>
                                            <th>Name </th>
                                            <th>Stock Count</th>
                                            <th>Unit </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr>
                                            <td style="width:20%; min-width:10rem;">
                                                <span class="p-column-title">Name</span>
                                                {{product.barCode}}
                                            </td>
                                            <td style="width:40%; min-width:10rem;">
                                                <span class="p-column-title">Phone</span>
                                                {{product.name}}
                                            </td>
                                            <td [pEditableColumn]="product.stockCount" pEditableColumnField="stockCount">
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <input pInputText type="text" [(ngModel)]="product.stockCount" />
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{ product.stockCount }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td style="width:20%; min-width:10rem;">
                                                <span class="p-column-title">Country</span>
                                                {{product.unit}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                        <!-- </div> -->
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" 
                    (click)="updateRange()"></button>
            </ng-template>
        </p-dialog> 

        <!-- movement modal -->
        <p-dialog [(visible)]="movementModal" [style]="{width: '50%'}" header="New Assorted Product"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
				<div class="formgrid grid">
                    <div class="field col-6">
						<div class="field">
							<label for="salesType">Assorted Product</label>
							<p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="assortedProduct" inputId="name"
								[options]="productInventories" placeholder="Select Product" optionLabel="name"
                                (onChange)="assortedQuantity()" [filter]="true" filterBy="name"  [showClear]="true">
		
							</p-dropdown>
						</div>
					</div>
                    <div class="field col-6">
						<div class="field">
							<label for="company">Add Products</label>
							<p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="selectedProduct" inputId="name"
								[options]="productInventories" placeholder="Select Product" optionLabel="name"
                                (onChange)="addProduct()" [filter]="true" filterBy="name"  [showClear]="true">
		
							</p-dropdown>
						</div>
                    </div>
				</div>

				<p-table #dt [value]="selectedProducts!" [(selection)]="selectedProductsRemove">
					<ng-template pTemplate="caption">
						<div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
							<h5 class="m-0">Products</h5>
						</div>
					</ng-template>
					<ng-template pTemplate="header">
						<tr>
							<th style="width: 3rem">
								<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
							</th>
							<th >Code</th>
							<th >Name</th>
							<th >Quantity</th>
							<th></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-item>
						<tr>
							<th style="width: 3rem">
								<p-tableCheckbox [value]="item"></p-tableCheckbox>
							</th>
							<td style="width:20%; min-width:10rem;">
								<span class="p-column-title">Name</span>
								{{item.barCode}}
							</td>
							<td style="width:30%; min-width:10rem;">
								<span class="p-column-title">Name</span>
								{{item.name}}
							</td>
							<td [pEditableColumn]="item.quantityOnHand" pEditableColumnField="code" style="width:20%; min-width:10rem;">
								<p-cellEditor>
									<ng-template pTemplate="input">
										<input pInputText type="text" [(ngModel)]="item.quantityOnHand"/>
									</ng-template>
									<ng-template pTemplate="output">
										{{ item.quantityOnHand }}
									</ng-template>
								</p-cellEditor>
							</td>
						</tr>
					</ng-template>
				</p-table>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
				<!-- <button pButton pRipple label="Print" icon="pi pi-print" class="p-button-text"
                    [disabled]="!newOder.currency " *ngIf="isQuotation"></button> -->
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addStockMovement()"
                    [disabled]="!selectedProducts "></button>
            </ng-template>
        </p-dialog> 

        <!-- quantity modal -->
        <p-dialog [(visible)]="quantityModal" header="Add Quantity" [modal]="true" [style]="{width:'500px'}">
			<ng-template pTemplate="content">
				<div class="field">
					<div class="field col-12">
						<input type="string" pInputText id="description" [(ngModel)]="assortedProduct.quantityOnHand" required autofocus
							[ngClass]="{'ng-invalid ng-dirty' : submitted && !assortedProduct.quantityOnHand}"/>
					</div>
				</div>
			</ng-template>
            
            <ng-template pTemplate="footer">
                
				<button pButton pRipple class="p-button-text" label="CANCEL"
				class="p-button-danger mr-1" (click)="hideDialog()"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="OK"
				class="p-button-success mr-1" (click)="assortedAtyClose()"></button>
            </ng-template>
        </p-dialog>

        <!-- quantity modal -->
        <p-dialog [(visible)]="quantityModal2" header="Add Quantity" [modal]="true" [style]="{width:'500px'}">
			<ng-template pTemplate="content">
				<div class="field">
					<div class="field col-12">
						<input type="string" pInputText id="description" [(ngModel)]="selectedProduct.quantityOnHand" required autofocus
							[ngClass]="{'ng-invalid ng-dirty' : submitted && !selectedProduct.quantityOnHand}"/>
					</div>
				</div>
			</ng-template>
            
            <ng-template pTemplate="footer">
                
				<button pButton pRipple class="p-button-text" label="CANCEL"
				class="p-button-danger mr-1" (click)="hideDialog()"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="OK"
				class="p-button-success mr-1" (click)="confirmAddProduct()"></button>
            </ng-template>
        </p-dialog>

        <!-- update inventory -->
        <p-dialog [(visible)]="damagesModal" [style]="{ width: '40%' }" header="{{subCategory.name}}"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <!-- <div class="flex flex-column md:flex-row align-items-center p-3 w-full"> -->
                            <p-table class="header-line-table" #dt [value]="movements" [columns]="cols" responsiveLayout="scroll"
                                    [globalFilterFields]="['name']" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="80%" 
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [rowHover]="true" dataKey="id">
                                    <ng-template pTemplate="caption">
                                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                            <h5 class="m-0">Change Quantities</h5>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Bar Code </th>
                                            <th>Name </th>
                                            <th>Qty </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr>
                                            <td style="width:40%; min-width:10rem;">
                                                <span class="p-column-title">Name</span>
                                                {{product.barCode}}
                                            </td>
                                            <td style="width:40%; min-width:10rem;">
                                                <span class="p-column-title">Phone</span>
                                                {{product.productName}}
                                            </td>
                                            <td [pEditableColumn]="product.quantity" pEditableColumnField="quantity" style="width:20%; min-width:10rem;">
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <input pInputText type="text" [(ngModel)]="product.quantity" />
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{ product.quantity }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                        <!-- </div> -->
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" 
                    (click)="onSaveDamages()"></button>
            </ng-template>
        </p-dialog> 

        <!-- movement modal -->
        <p-dialog [(visible)]="categoryModal" [style]="{width: '50%'}" header="New Assorted Product"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
				<div class="formgrid grid">
                    <div class="field col-6">
						<div class="field">
							<label for="salesType">Sub Category</label>
							<p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="subCategory" inputId="name"
								[options]="subCategories" placeholder="Select Product" optionLabel="name"
                                (onChange)="onChangeCategory()" [filter]="true" filterBy="name"  [showClear]="true">
		
							</p-dropdown>
						</div>
                        
					</div>
				</div>

				<p-table #dt [value]="damagedProducts!" [(selection)]="selectedProductsRemove">
					<ng-template pTemplate="caption">
						<div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
							<h5 class="m-0">Products</h5>
						</div>
					</ng-template>
					<ng-template pTemplate="header">
						<tr>
							<th style="width: 3rem">
								<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
							</th>
							<th >Code</th>
							<th >Name</th>
							<th >Category</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-item>
						<tr>
							<th style="width: 3rem">
								<p-tableCheckbox [value]="item"></p-tableCheckbox>
							</th>
							<td style="width:20%; min-width:10rem;">
								<span class="p-column-title">Name</span>
								{{item.barCode}}
							</td>
                            <td style="width:50%; min-width:10rem;">
								<span class="p-column-title">Name</span>
								{{item.name}}
							</td>
							<td style="width:30%; min-width:10rem;">
								<span class="p-column-title">Name</span>
								{{item.subCategoryName}}
							</td>
						</tr>
					</ng-template>
				</p-table>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="CANCEL" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
				<!-- <button pButton pRipple label="Print" icon="pi pi-print" class="p-button-text"
                    [disabled]="!newOder.currency " *ngIf="isQuotation"></button> -->
                <button pButton pRipple label="UPDATE" icon="pi pi-check" class="p-button-text" (click)="updateRange()"
                    [disabled]="!selectedProducts "></button>
            </ng-template>
        </p-dialog> 

        <!-- upgrade modal -->
        <!-- <p-dialog [(visible)]="upgradeModal" [style]="{ width: '30%' }" header="New product"
            [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <div class="field col-12">
                                <div class="field">
                                    <span class="p-float-label">
                                        <p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="selectedProduct"
                                            inputId="name" [options]="freshProducts" placeholder="Select Product" optionLabel="name"
                                            [filter]="true" filterBy="name" [showClear]="true" (onChange)="onSelectUpgrade()">
            
                                        </p-dropdown>
                                        <label for="company">Product</label>
                                    </span>
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <p-dropdown appendTo="body" class="p-inputtext-sm" [(ngModel)]="upgradeProduct" [disabled]="!selectedProduct.name"
                                            inputId="name" [options]="upgradeProducts" placeholder="Select Product" optionLabel="grade"
                                            [filter]="true" filterBy="name" [showClear]="true">
            
                                        </p-dropdown>
                                        <label for="company">Grade</label>
                                    </span>
                                </div>
                                <div class="field">
                                    <span class="p-float-label">
                                        <input type="number" pInputText id="description" [(ngModel)]="upgradeQuantity" required autofocus
                                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !upgradeQuantity}" />
                                        <small class="ng-dirty ng-invalid" style="color:red" *ngIf="submitted && !upgradeQuantity">Item
                                            phone is
                                            required.</small>
                                            
                                        <label for="description">Quantity</label>
                                    </span>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSaveUpgrade()"
                    [disabled]="upgradeQuantity === 0 "></button>
            </ng-template>
        </p-dialog>  -->

    </div>
</div>

